@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
/* .btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
} */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
html {
  scroll-behavior: smooth;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}
